.navList {
    grid-area: n;
    background-color: #002137;
    padding-left: 1rem;
}


.item {
    list-style-type: none;
    font-size: 1.5rem;
}
li a {
    color: #ffdc33;
}

.login__block {
    margin-top: 1.5rem;
}


