.info {
    display: flex;
    flex-flow: column wrap;

}
.info img {
    width: 150px;
    border-radius: 10%;
    margin-bottom: 1rem;
}

.photo {
    width: 80%;
    height: 200px;
    margin: 15px auto;
    border-radius: 5px;

}

.list {
    list-style-type: none;
}

.status__input {
    width: 150px;
}
.span__status {
    cursor: pointer;
}


