.app-wrapper {
    display: grid;
    grid-template-areas: 'h h ' ' n c';
    grid-template-rows: 80px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 2vw;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    background-color: #fff5ee;
}

.app-wrapper-content {
    grid-area: c;
    font-size: 1.5rem;
}



